.headerAdmin__out{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width:100vw;
    border-bottom: 1px solid lightgray;
    padding: 10px 5px 10px 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.Admin__home{
    flex: 0.4;
    display: flex;
    padding-left:20px;
    align-items: center;
}
.HeaderAdmin{
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HeaderAdminFirst{
    padding: 12px;
    color: rgb(82, 71, 71);
    font-weight: 600;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.add_teacher{ 
    border: 1px solid lightgreen;
}