.chatTeacher {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  margin-right: 12px;
  border: 2px solid rgba(1, 14, 27, 0.255);
  height: 80vh;
  overflow: hidden;
}
.chatTeacher__header {
  display: flex;
  height: 5vh;
  border-bottom: 1px solid lightgray; 
  background-color: rgb(241, 241, 241);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.chatTeacher__headerFirst {
  display: flex;
  align-items: center;
}
.chatTeacher__headerFirst__back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0px 0 12px;
}
.chatTeacher__headerFirst__account {
  padding: 0 12px 0 12px;
  color: rgba(0, 0, 0, 0.876);
  font-weight: 700;
  font-size: large;
}
.chatTeacher__headerSecond {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatTeacher__body {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-height: 100%;
  width: 100%;
  background-color: #5094ee;
  overflow: scroll;
}
.chatTeacher__body_Video {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-height: 100%;
  width: 100%;
  background-color:rgba(238, 232, 232, 0.993);
  padding: 10px;
  overflow: scroll;
}
.chatTeacher__body_Image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  background-color: rgb(242, 236, 236);
}

.chatTeacher__OuterLoading{
  height: 70vh;
  max-height: 100%;
  width: 100%;
  background-color: #5094ee;
  overflow: scroll;
}
.chatTeacher__input {
  display: flex;
  height: 7vh;
  /* border-top: 2px solid rgba(2, 22, 41, 0.255); */
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding-left: 10px;
}
.chatTeacher__input > input {
  width: 100%;
  margin: 0 12px 0 0;
  outline: none;
  border: none;
  height: 80%;
  /* border-radius: 14px; */
  padding-left: 10px;
}
#send {
  color: rgb(59, 166, 202);
}
.chat__msgBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  /* background-color: lightgray; */
}
.chat__message__my {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 70%;
  /* border: 1px solid lightgray; */
  border-radius: 6px;
}
.chatTeacher__message_div {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  border-radius: 6px;
  background-color: white;
}
.chatTeacher__message_div > p {
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 0 12px 0 0;
  font-size: 12px;
}
.chatTeacher__message__my{
  padding: 0;
  max-width: 60%;
  max-height: 60%;
}
.chatTeacher__message__my > h6 {
  margin: 0;
  padding: 2px 0px 3px 0px !important ;
  color: black;
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
}
.chatTeacher__message_div {
  padding: 0 6px 0 6px;
}
.chatTeacher__message_div > h5 {
  word-break: break-all;
  color: black;
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
}
.chatTeacher__msgBox {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 0 12px;
  align-items: flex-end;
}
.chatTeacher__msgBoxNot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  width: 100%;
}

.doubtBox_footerForChat {
  background-color: #fff;
  width: 100%;
  height: 10vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.doubtBox_footerForCaption{
  background-color: #fff;
  width: 100%;
  height: 10vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.send_Message_box {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.send_Message_box_ForCaption {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  display: flex;
  padding: 5px;
}
.send_Message_box > input {
  border: 0;
  outline-width: 0px;
  width: 100%;
  padding: 5px;
  height: 50%;
}
.send_Message_box_ForCaption > input {
  border: 0;
  outline-width: 0px;
  width: 100%;
  padding: 5px;
  height: 50%;
}
.send_icon {
  margin-left: 10px;
}

.iconsTeacher {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.iconsTeacher>button{
  border: none;
  background-color: none;
}

.icon {
  height: fit-content;
}
.icon:hover {
  cursor: pointer;
  color: #6d6969;
}
.button{
 display: flex;
 padding: 8px 2px 6px 0px;
 border: 0;
}
.button>input{
  width: 100%;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 3px;
}
.sendDiv{
  margin: 0;
  padding: 0;
}
#sendicon{
  color: navy;
  padding: 5px 0 5px 5px;
}
.popupImage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #858484cc;
  z-index: 1;
}
.popupImageIn {
  height: 100vh;
  width:100vw;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popupImageIntop {
  display: flex;
  padding: 12px 0px 12px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #2370e2;
}
.nameImage {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}
.BackiconImage {
  display: flex;
  position: relative;
  top: 0;
  z-index: 1;
  padding-right: 12px;
}
.BackiconiImage {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageMessage{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 200px;
  max-width: 100%;
}
.videoMessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  /* max-height:60%; */
  width: 100%;
  overflow: hidden;
}
.Name_Download{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  color: rgb(61, 59, 59);
}
.Name_Download>a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.2;
  color: rgb(61, 59, 59);
}
.Name_Download>p{
  flex: 0.8;
  color: rgb(61, 59, 59);
}
.showtypeFile { 
  display: flex;
  border-radius: 12px;
  color: rgb(85, 79, 79);
}
.show_typeImage {
  display: flex;
  margin: 1vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.show_typeImage>input{
    width: 5vh;
    height: 5vh; 
}
.show_typeVideo {
  display: flex;
  margin: 1vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.show_typeDocument {
  display: flex;
  margin: 1vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* padding: 12px; */
}
.Backicon{
  cursor: pointer;
}
.dateChat{
  display: flex;
  color: gray;
  font-size: small;
}
/* icons */
.deleteIcon{
  position: relative;
  display: none;
  color: gray;
  font-size: x-small;
  padding: 4px 0 4px 0;
}
.chatTeacher__message__my:hover
.deleteIcon { 
display: flex;
  color: black;
}
.chatTeacher__message__my>h5{
  margin: 0;
}
/* video */
.videoName{
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(221, 211, 211);
}
.chatTeacher__bodyVideo{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  width: 100%;
  background-color: #858484cc;
  overflow: hidden;
}
.chatTeacher__body_Image{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 70vh;
  background-color: #bfb7b7ee;
}

/* popup for imagefull show classes */

.popupChatTeacher{
  display: flex;
   flex-direction: column;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 100;
  }
  .popUpTOP{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:8vh ;
  background-color: lightgray;
  padding: 0 12px 0 12px;
}
.popupbodyImage_Img{
  background-color: rgb(202, 195, 195);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}
.popupbody_Image_img{
   max-width: 85vw;
   max-height: 85vh;
   z-index: 100;
  }
  .backIconChat{
  cursor: pointer;
}
/* popup for loading */
.videoMessageOut{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background-color: rgb(221, 211, 211);
}
.videoCancelUpload{
  background-color: rgba(238, 232, 232, 0.993);
  width: 100%;
  overflow: hidden;
}
.popupChatLoading{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.popupbodyImage_Loading{
  background-color:#dfddddcc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.iconDiv{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
}
.submit_button_div{
  display: flex;
  z-index: 100;
}
.PdfLoading{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1085px) {
  .chatTeacher {
    flex: 1;
    height: 100vh;
    width: 100vw;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .chatTeacher__header {
    display: flex;
    height: 5vh;
    border-bottom: 1px solid lightgray; 
    background-color: rgb(241, 241, 241);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    position: sticky;
    top: 0;
  }
  .chatTeacher__body {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    background-color: #5094ee;
    overflow: scroll;
  }
  .chatTeacher__body_Video{
    height: 85vh;
  }
  .doubtBox_footerForChat {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    padding: 5px;
  }
}