.chatTeacher {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  margin-right: 12px;
  border: 2px solid rgba(1, 14, 27, 0.255);
  height: 80vh;
  background-color: white;
}
.chatTeacher__header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid lightgray; 
  background-color: rgb(241, 241, 241);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.chatTeacher__headerFirst {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.chatTeacher__headerFirst__back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0px 0 12px;
}
.chatTeacher__headerFirst__account {
  padding: 0 12px 0 12px;
  color: rgba(0, 0, 0, 0.876);
  font-weight: 700;
  font-size: large;
}
.chatTeacher__headerSecond {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatTeacher__body {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-height: 100%;
  width: 100%;
  background-color: #5094ee;
  overflow: scroll;
}

.chatTeacher__OuterLoading{
  height: 70vh;
  max-height: 100%;
  width: 100%;
  background-color: #5094ee;
  overflow: scroll;
}
.chatTeacher__input {
  display: flex;
  height: 7vh;
  /* border-top: 2px solid rgba(2, 22, 41, 0.255); */
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding-left: 10px;
}
.chatTeacher__input > input {
  width: 100%;
  margin: 0 12px 0 0;
  outline: none;
  border: none;
  height: 80%;
  /* border-radius: 14px; */
  padding-left: 10px;
}
#send {
  color: rgb(59, 166, 202);
}
.chat__msgBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  /* background-color: lightgray; */
}
.chat__message__my {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 70%;
  /* border: 1px solid lightgray; */
  border-radius: 6px;
}
.chatTeacher__message_div {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  border-radius: 6px;
  background-color: white;
}
.chatTeacher__message_div > p {
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 0 12px 0 0;
  font-size: 12px;
}
.chatTeacher__message__my{
  max-width: fit-content;
  max-height: fit-content;
}
.chatTeacher__message__my > h6 {
  margin: 0;
  padding: 2px 0px 3px 0px !important ;
  color: black;
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
}
.chatTeacher__message_div {
  padding: 0 6px 0 6px;
}
.chatTeacher__message_div > h5 {
  word-break: break-all;
  color: black;
  margin: 0;
  padding-top: 12px;
  font-weight: 400;
  font-size: 16px;
}
.chatTeacher__msgBox {
  display: flex;
  flex-direction: column;
  padding: 12px;
  align-items: flex-end;
}
.chatTeacher__msgBoxNot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  width: 100%;
}

.doubtBox_footer {
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.send_Message_box {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.send_Message_box > input {
  border: 0;
  outline-width: 0px;
  width: 100%;
  padding: 5px;
  height: 50%;
}
.send_icon {
  margin-left: 10px;
}

.iconsTeacher {
  display: flex;
  justify-content: flex-end;
  /* margin-left: 5px; */
  height: 100%;
}
.iconsTeacher>button{
  border: none;
  background-color: none;
  /* color: rgb(52, 128, 52); */
}

.icon {
  /* font-size: 18px; */
  height: fit-content;
  /* transition: 0.5s; */
}
.icon:hover {
  cursor: pointer;
  color: #6d6969;
}
.button{
 display: flex;
 padding: 8px 2px 6px 0px;
 border: 0;
}
.button>input{
  width: 100%;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 3px;
}
.sendDiv{
  margin: 0;
  padding: 0;
}
#sendicon{
  color: navy;
  padding: 5px 0 5px 5px;
}
.popupImage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #858484cc;
  z-index: 1;
}
.popupImageIn {
  /* max-width: 500px; */
  /* min-height: 50vh; */
  height: 100vh;
  width:100vw;
  /* max-width: 100vw;
  max-height: 100vh; */
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popupImageIntop {
  display: flex;
  padding: 12px 0px 12px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #2370e2;
}
.nameImage {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}
.BackiconImage {
  display: flex;
  position: relative;
  top: 0;
  z-index: 1;
  padding-right: 12px;
}
.BackiconiImage {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageMessage{
  display: flex;
  align-items: center;
  justify-content:center ;
  height: 200px;
  width: 280px;
}
.videoMessage{
  display: flex;
  align-items: center;
  justify-content:center ;
  max-height: 65vh;
  width: 300px;
  overflow: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .showtypeFile {
    animation: App-logo-spi 0.5s linear;
    /* transition: 2s; */
  }
}
@keyframes App-logo-spi {
  from {
    top: -19vh;
  }
  to {
    top: -24vh;
    /* height: fit-content; */
  }
}
.showtypeFile {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -24vh;
  left: 32px;
  border-radius: 12px;
  color: rgb(85, 79, 79);
}
.show_typeImage {
  display: flex;
  background-color: lightgreen;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  margin: 1vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.show_typeImage>input{
    width: 5vh;
    height: 5vh; 
}
.show_typeVideo {
  display: flex;
  background-color: lightsalmon;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  margin: 1vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.show_typeDocument {
  display: flex;
  background-color: lightpink;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  margin: 1vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px;
}
.Backicon{
  cursor: pointer;
}
.dateChat{
  display: flex;
  color: gray;
  font-size: small;
}
/* icons */
/* video */
.videoName{
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 100;
    color: rgb(221, 211, 211);
}
.chatTeacher__bodyVideo{
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-height: 100%;
  width: 100%;
  background-color: #5094ee;
  overflow: scroll;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1085px) {
  .chatTeacher__header {
    padding: 0px;
  }
  .chatTeacher {
    flex: 1;
    height: 100vh;
    border: none;
    padding: 0;
    margin: 0;
  }
  .chatTeacher__body {
    height: 90vh;
    
  }
}

/* popup for imagefull show classes */

.popupChatTeacher{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}
.popUpTOP{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:8vh ;
  background-color: lightgray;
  padding: 0 12px 0 12px;
}
.popupbodyImage_Img{
  background-color: rgba(63, 58, 58, 0.871);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}
.popupbody_Image_img{
   max-width: 85vw;
   max-height: 85vh;
   z-index: 100;
}
.backIconChat{
  cursor: pointer;
}
/* popuup for loading */
.popupChatLoading{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.popupbodyImage_Loading{
  background-color: rgba(119, 115, 115, 0.871);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}