.LeaderBoardNumber{
    display: flex;
    height: 9vh !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding: 12px; */
    /* background-color: black; */
}
.LeadearBoardNumber__First{
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
}
.LeaderBoardNumber__Sec{
    flex: 0.5;
    align-items: center;
    justify-content: center;
}
.Serial__Num{
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leader__Fotu{
    display: flex;
    max-height: 3vh;
    height: 3vh;
    max-width: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: lightgray;
    margin: 0 12px 0 12px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 5px;
}
.leader__Name{
    font-weight: 500;
    color: rgb(51, 46, 46);
}