.LeaderBoard{
    height: 100vh;
    width: 100vw;
}
.leaderboard__Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.leaderboard__body__In{
    width: 100vw;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.leaderboard__body__In__Header{
    display: flex;
    align-items: center;
   height: 10vh;
   width: 100%;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   background-color: #223577;
   color: seashell;
}
.leadeaboard__body__Header__back{
    display: flex;
    justify-content: center;
    padding-left: 12px;
}
.leaderboard__body__Header__text{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 500;
    flex: 1;

}
.leaderboard__body__In__head_head{
    display: flex;
    height: 5vh;
    width: 100%;
    background-color: lightgray;
    margin-top: 4px;
    padding:12px ;
    text-align: center;
}
.leaderboard__body__In__head_head>h6{
    margin: 0;
    padding: 0;
}
.leaderboard__body__In__head_head>input{
    border: none;
    outline: none;
    border-radius: 3px;
}
.scroll{
    color: darkblue;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leaderboard__body__In__Body{
    display: flex;
    flex-direction: column;
    overflow:scroll;
    height: 60vh;
}  .popupDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #858484cc;
    z-index: 1;
  }
  .popupDeleteIn {
    max-width: 500px;
    width: 80vw;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
  }
  .popupDeleteIntop {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 12px 0px 12px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #2370e2;
  }
  .name {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
  }
  .Backicon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
  }
  .Backiconi {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popupbody {
    display: flex;
    flex-direction: column;
    padding: 0 12px 12px 12px;
    font-weight: 500;
    /* align-items: center; */
    /* justify-content: center; */
    height: fit-content;
  }
  .popupbody > input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #383434;
    width: 100%;
    border-radius: 6px;
    height: 5vh;
    border: none;
    outline: none;
    border: 1px solid lightgray;
    resize: none;
    margin: 12px 0 12px 0;
  }
  .popupbody>textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #383434;
    width: 100%;
    border-radius: 6px;
    height: 30vh;
    border: none;
    outline: none;
    border: 1px solid lightgray;
    resize: none;
    margin: 12px 0 12px 0;
  }
  .btn {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  @media (max-width: 768px) {
    .popupDeleteIn {
      width: 95vw;
    }
  }
@media(max-width:1085px){
    .LeaderBoard{
        width: 100vw;
        height: 100vh;
    }
    .leaderboardHeader{
        display: none;
        max-width: 100vw;
    }
    .leaderboard__Body{
        height: 100vh;
        margin-top: 0;
    }
    .leaderboard__body__In__Header{
        border-top-right-radius:0;
        border-top-left-radius: 0;    
    }
    .LeaderBoard__Header{
      display: none;   
    }
    .leaderboard__body__In__Body{
        height: 100vh;
    }
    .leaderboard__body__In{
        width: 100vw;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        border: 1px solid lightgray;
        border-radius: 8px;
    }
}