.homefooter{
    background-color: rgb(59, 51, 51);
    display: flex;
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
    justify-content: center;
}
.homefooterin{
    max-width: 1500px;
    display: flex;
    justify-content: center;
    
}
.footdiv{
    display: flex;
    flex: 0.2;
    color: white;
    flex-direction: column;
    padding: 12px; 
    width: 100%;
}
.footdivHead{
    padding: 12px 12px 12px 0;
    font-weight: bolder;
}
.footdivhead_link{
    display: flex;
  height: 30px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.footdivhead_link:hover{
    transition: 500ms;
    font-size: 13px;
    font-weight: 500;
    color: #429ae7;
}
.footdivHeademail{
    display: flex;
    width: 100%;
}
.footdivHeademailfira{
    display: flex;
    /* flex: 0.4; */
    padding-right: 12px;
    /* width: fit-content; */
    width: 40%;
}
.footdivHeademailfire{
    display: flex;
    /* flex: 0.4; */
    padding-right: 18px;
    width: 40%;
}
.footdivHeademailfirp{
    display: flex;
    /* flex: 0.4; */
    padding: 6px 0px 3px 0;
    width: 40%;
}
.footdivHeademailSec{
    display: flex; 
    margin: 6px 0px 3px 22px !important;
    width: 60%;
}
.footdivbody{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 12px 12px 0;
}

@media(max-width:768px){
    .homefooterin{
        max-width: 760px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .homefooter{
        background-color: rgb(59, 51, 51);
        display: flex;
        height: fit-content;
    }
    .footdiv{
        align-items: center;
        justify-content: center;
    }
}