.chat{
    display: flex;
    flex: 0.7;
    flex-direction: column;
    margin-right: 12px;
    border: 2px solid rgba(1, 14, 27, 0.255);
    height: 80vh;
    background-color: white;
}
.chat__header{
    display: flex;
    height: 60px;
    border-bottom: 1px solid lightgray;
    z-index: 1;
    background-color: rgb(241, 241, 241);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.chat__headerFirst{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.chat__headerFirst__back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0px 0 12px;
}
.chat__headerFirst__account{
    padding: 0 12px 0 12px;
    color: rgba(0, 0, 0, 0.876);
    font-weight: 700;
    font-size:large ;
}
.chat__headerSecond{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat__body{
    height: 70vh;
    background-color: #5094ee;
    overflow-y:  scroll;
}
.chat__input{
    display: flex;
    height: 6vh;
    /* border-top: 2px solid rgba(2, 22, 41, 0.255); */
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding-left: 10px;
}
.chat__input>input{
    width: 100%;
    margin: 0 12px 0 0;
    outline: none;
    border: none;
    height: 80%;
    /* border-radius: 14px; */
    padding-left: 10px;
}
#send{
    color: rgb(59, 166, 202);
}
.chat__msgBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content; 
    /* background-color: lightgray; */
}
.chat__message__my{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 70%;
    /* border: 1px solid lightgray; */
    border-radius: 6px;
}
.chat__message_div{
    display: flex;
    flex-direction: column;
    word-break: break-all;
    border-radius: 6px;
    background-color: white;
    font-size: large;
}
.chat__message_div>p{
    padding-bottom: 0;
    margin-bottom: 0;
    color: black;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    padding:0 12px 0 0;
    font-size: 12px;
}
.chat__message__my>h6{
    margin: 0;
    padding: 2px 0px 3px 0px !important ;
    color: black;
    font-style: italic;
    font-size: 13px;
    font-weight: 700;
}
.chat__message_div{
    padding: 0 6px 0 6px;
}
.chat__message_div>h5{
    word-break: break-all;
    color: black;
    margin: 0;
    padding-top: 12px ;
    font-weight: 400;
    font-size: 14px;
}
.chat__msgBox{
    display: flex;
    flex-direction: column;
    padding:12px;
    align-items: flex-end;
}
.chat__msgBoxNot{
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:12px;
    width: 100%;
}

.doubtBox_footer {
    background-color: #fff;
    width: 100%;
    height: 80px;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }

  .send_Message_box {
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
.send_Message_box> input {
    border: 0;
    outline-width: 0px;
    width: 100%;
    padding: 5px;
    height: 50%;
  }
  .send_icon {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
    margin-bottom: 10px;
    align-items: center;
  }
  .icons>button{
      border: none;
      background-color: none;
      /* color: rgb(52, 128, 52); */
  }
  .icon {
    font-size: 18px;
  }
  .icon:hover {
    cursor: pointer;
    color: #6d6969;
  }
@media(max-width:1085px){
    .chat__header{
        padding: 0px;
    }
    .chat{
        flex: 1;
        height: 100vh;
        border: none;
        padding: 0;
        margin: 0;
    }
    .chat__body{
        height: 90vh;
    }
}