.notification{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.notification__Second{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.notification__second__first{
    display: flex;
}
.notification__second__first>h6{
    padding: 12px;
}
.NotificationCom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 12px;
}
.Notification__first{
    padding: 12px 12px 0 12px;
    word-break: break-all;
}
.Notification_Zero{
    width: 100%;
    padding-left: 12px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Notification_Zero_Course{
    padding:0 12px 0 0;
    font-weight: 500;
    
}
.Notification_Zero_Course_T{
    padding:0 12px 0 0;
    font-weight: 500;
  font-style: italic;
  color: #176dee;
}
.NotificationComIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 800px;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: #ddf4ff;
    margin-top: 12px;
}